/* eu já falei que odeio CSS? */

a {
  font-weight: bold !important;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

input[type=color] {
  width: 15rem;
  height: 3rem;
  border: 2px solid gray;
  margin: 0;
  padding: 0;
}

input[type=range] {
  margin-bottom: 0;
}

input {
  margin-right: 1rem;
}

.color_example {
  font-size: 80%;
  font-weight: bold;
  margin-left: 1rem;
}

#mt {
  border-collapse: collapse;
  display: inline-table;
  table-layout: fixed;
  min-width: 95%;
}

#mb td, #mh th {
  border: 1px solid gray;
  text-align: center;
  background-color: #f0f0f0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#mb td {
  font-size: 80%;
  font-weight: bold;
}

#mb td>span {
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 90%;
  padding: 0.5rem;
}

#mb td>span>hr {
  margin: 0;
  border-top: 1px solid rgb(136, 136, 136);
}

#mb td>span>span {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: inline-block;
}

#iaulas select {
  font-size: 80%;
  font-weight: bold;
}

.aula_peq {
  margin-top: 0.1rem;
  font-size: 80%;
}

.btns button {
  width: 100%;
}

.formy {
  display: inline-table;
  table-layout: fixed;
}

.formy>label {
  display: table-row;
}

.formy>label>* {
  display: table-cell;
  min-height: 5rem;
}

.formy>label>span:first-child {
  text-align: right;
  padding-right: 1rem;
}

.formy>label>span:last-child {
  text-align: left;
}

.formy>label>input[type=range] {
  vertical-align: middle;
}

.formy>label>input[type=range], .formy>label>select {
  width: 100%;
}

.formy>label>input[type=checkbox] {
  transform: scale(1.5, 1.5);
  vertical-align: -moz-middle-with-baseline;
}
