/* eu já falei que odeio CSS? */

a {
  font-weight: bold !important;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

input[type=color] {
  width: 15rem;
  height: 3rem;
  border: 2px solid gray;
  margin: 0;
  padding: 0;
}

input[type=range] {
  margin-bottom: 0;
}

input {
  margin-right: 1rem;
}

.color_example {
  font-size: 80%;
  font-weight: bold;
  margin-left: 1rem;
}

#mt {
  border-collapse: collapse;
  display: inline-table;
  table-layout: fixed;
  min-width: 95%;
}

#mb td, #mh th {
  border: 1px solid gray;
  text-align: center;
  background-color: #f0f0f0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#mb td {
  font-size: 80%;
  font-weight: bold;
}

#mb td>span {
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 90%;
  padding: 0.5rem;
}

#iaulas select {
  font-size: 80%;
  font-weight: bold;
}

.btns button {
  width: 100%;
}
